/* CSS HEX */
--black: #000000ff;
--champagne: #f9e7c8ff;
--red-crayola: #ed254eff;
--ghost-white: #f0f2f9ff;
--powder-blue: #acbed8ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--champagne: hsla(38, 80%, 88%, 1);
--red-crayola: hsla(348, 85%, 54%, 1);
--ghost-white: hsla(227, 43%, 96%, 1);
--powder-blue: hsla(215, 36%, 76%, 1);

/* SCSS HEX */
$black: #000000ff;
$champagne: #f9e7c8ff;
$red-crayola: #ed254eff;
$ghost-white: #f0f2f9ff;
$powder-blue: #acbed8ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$champagne: hsla(38, 80%, 88%, 1);
$red-crayola: hsla(348, 85%, 54%, 1);
$ghost-white: hsla(227, 43%, 96%, 1);
$powder-blue: hsla(215, 36%, 76%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$champagne: rgba(249, 231, 200, 1);
$red-crayola: rgba(237, 37, 78, 1);
$ghost-white: rgba(240, 242, 249, 1);
$powder-blue: rgba(172, 190, 216, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-right: linear-gradient(90deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-left: linear-gradient(270deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);
$gradient-radial: radial-gradient(#000000ff, #f9e7c8ff, #ed254eff, #f0f2f9ff, #acbed8ff);